// variables for the app

$body-bg: #f3f3f3;
$header-bg :#6d271b;
$footer-bg : #000000;

$text-primary: #666;
$text-secondary : #fff;

$list-group-bg: #daf3df;
$list-group-bg-highlight: #8ef1a0;
$list-border-color: #ffffff;

 

$bar-width:31px;
$line-width:2px;
$marker-width:12px;
 

$highlow-width:5px;
$itembar-height:100px;
$background-bar-color:#333;
